@import url("https://fonts.googleapis.com/css?family=Fira+Mono&display=swap");
*{
    font-family: "Fire Mono", monospace, sans-serif;
}
body{
    background:hsl(294, 51%, 92%);
}

#calculator{
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 400px;
    min-width: 400px;
    border: 10px solid black;
    border-radius: 5px;
}

#display{
    display: flex;
    height: 150px;
    padding-right: 2px;
    font-size: 3.5em;
    vertical-align: bottom;
    justify-content: flex-end;
    align-items: flex-end;
    border-bottom: 3px solid black;
    padding-bottom: 0px;
    background-color: lightgray;
}

.row{
    display: flex;
}

button {
    width: 100px;
    height: 100px;
    margin: auto;
    font-size: 2em;
    font-weight: bold;
    border: 1px solid black;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}

.btn:hover{
    color: rgb(116, 110, 110);
    cursor: pointer;
}

#dot{
    display: flex;
    justify-content: center;
    align-items: flex-star;
    padding-top: 6%;
}

#divide{
    font-size: 2.5em;
}

#subtract{
    font-size: 2.5em;
}

.top{
    background-color: cornflowerBlue;
}

.digit{
    background-color: DarkGray;
}

.operator{
    background-color: goldenrod;
}

#back{
    font-size: 3.3em;
}

.digit:active{
    color: black;
    background-color: rgb(117, 117, 117);
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}

.top:active{
    color: black;
    background-color: rgb(54, 116, 231);
}

.operator:active{
    color: black;
    background-color: rgb(191, 147, 36);
}

.btn:focus {
    outline: 0;
}

#signature{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 400px;
    min-width: 400px;
    justify-content: flex-end;
    align-items: flex-end;  
}
